body{
    font-family: Inter,
        Inter Fallback,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Arial,
        sans-serif;

    background-color: #F2F3F8;
}

.top{
    display: flex;
}
.subject-gpa-calculator{
    background-color:white;
    padding: 0 10px;
    padding-bottom: 30px;
}
.goal-predictor{
    background-color: white;
    margin-left: 200px;
    padding: 0 20px;
}