body{
    font-family: -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol";

    background-color: #F2F3F8;
}

.top{
    display: flex;
}
.subject-gpa-calculator{
    background-color:white;
    padding: 0 10px;
    padding-bottom: 10px;
}
.goal-predictor{
    background-color: white;
    margin-left: 200px;
    padding: 0 20px;
}